@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Mitr:wght@200;300;400;500;600;700&display=swap');
$headings-font-family: "Lilita One", san-serif;

$font-family-base: "Mitr", sans-serif;

$display-font-sizes: (
  1: 7rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

$navbar-disabled-color: #FFC107;
$navbar-active-color: #FFC107;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 20,
  5: $spacer * 3,
);
.nevim {
  background: repeating-linear-gradient(
      45deg,            /* Úhel proužků */
      #FFC107,          /* Žlutá barva */
      #FFC107 10px,     /* Šířka žlutého pruhu */
      #212529 5px,       /* Počátek černého pruhu */
      #212529 20px        /* Šířka černého pruhu */
  );
  padding: 10px;
  display: flex;
  gap: 15px;
}



.fixni-velikost {
  width: 600px;
  height: 600px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.velikost {
  width: 400px;
  height: 400px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.footer {
  color: #FFC107;
  padding: 20px 0;
  text-align: center;
  font-size: 0.9em;
  position: relative;
  bottom: 0;
  width: 100%;
  
  .footer-content {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }

  p {
      margin: 0;
  }

  .footer-links {
      display: flex;
      gap: 15px;

      a {
          color: #FFC107;
          text-decoration: none;
          font-weight: bold;
          transition: color 0.3s;

          &:hover {
              color: #9e7700;
          }
      }
  }
}


// Import all of Bootstrap's CSS
@import "bootstrap";